fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
sqlalchemy
psycopg[binary]
PyJWT
boto3

langchain
langchain-openai
langchain-community
langchain-milvus
langchain-text-splitters
langgraph
langfuse

pymilvus
pypdf
tiktoken
python-multipart
